@import "common.scss";

.carousel {
	width: 40%;
	min-width: 100px;
	max-width: 200px;
	height: 100%;
	max-height: 400px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	overflow: hidden;

	#indicator {
		width: 100%;
		height: 0px;
		position: absolute;
		top: 50%;
		left: 0px;
		z-index: 1;
		transform: translate(0, -50%);
		border-radius: 3px;
		border-width: 3px;
		border-style : solid;
		box-sizing: border-box;
		cursor: pointer;
		// pointer-events:none;
	}
	$navHeight : 10%;
	$navMargin : 24%;

	.navigation {
		position: absolute;
		left: 0px;
		width: 100%;
		height: $navHeight;
		max-height: 70px;
		z-index: 2;
		background-position: center center;
		background-repeat: no-repeat;
		// background-size: 100% 100%;
		border-radius: 5px;
		opacity: 0.2;
		transition: opacity 0.3s, transform 0.3s;
		cursor: pointer;

		@media (max-width: 500px){
			display: none;
		}

		&.inactive {
			pointer-events: none;
			opacity: 0;
		}

		&:hover {
			opacity: 1;

			&:active {
				transform: scale(1.1);
			}
		}
	}

	#prev {
		top: $navMargin;
		background-image: url(../images/arrow_up.svg);
		background-size: auto 60px;
	}
	#next {
		bottom: $navMargin;
		background-image: url(../images/arrow_down.svg);
		background-size: auto 60px;
	}

	.carousel-wrapper {

		position: absolute;
		width: 100%;
		z-index: 0;

		.item {
			color: $gray;
			width: 100%;
			position: relative;
			transition: color 0.3s;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 18px;
			letter-spacing: 2px;
			transition: background-color 0.5s;

			@media (max-width: 440px){
				font-size: 12px;
			}

			#content {
				width: 80%;
				$contentSize : 20px;
				line-height: $contentSize;
				position: absolute;
				text-align: center;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&.invisible {
				pointer-events: none;
				opacity: 0;
			}

			&.active {
				color: white;
				cursor: pointer!important;
			}

			&.highlight {
				transition: background-color 0.1s;
				border-radius: 3px;
			}
		}
	}

	$highlightOpacity : 0.2;

	&:nth-child(1){

		#indicator {
			border-color: $purple;
		}

		.item.active{
			color: $purple;
		}

		.item.highlight {
			background-color: rgba($purple, $highlightOpacity);
		}
	}

	&:nth-child(2){

		#indicator {
			border-color: $teal;
		}

		.item.active{
			color: $teal;
		}
		.item.highlight {
			background-color: rgba($teal, $highlightOpacity);
		}
	}

	.fade {
		position: absolute;
		left: 0px;
		height: 20%;
		width: 100%;
		z-index: 1;
		pointer-events: none;
		border-style: solid;
		border-color: $backgroundColor;

		$endColor : rgba($backgroundColor, 0);
		$borderSize : 20px;

		&:nth-of-type(1){
			border-width: $borderSize 0 0 0;
			top: 0px;
			background: linear-gradient($backgroundColor, $endColor); 
		}

		&:nth-of-type(2){
			border-width: 0 0 $borderSize 0;
			bottom: 0px;
			background: linear-gradient($endColor, $backgroundColor); 
		}
	}
}

.mobile .navigation {
	&:hover {
		opacity: 0.2!important;

		&:active {
			opacity: 1!important;
		}
	}
}