$smallScreen : 575px;
$backgroundColor: rgb(28, 28, 42);
$keyboardHeight : 100px;
$waveformHeight: 200px;
$purple : #fc5b13;
$teal : #65bef0;
// $purple : rgb(197, 40, 255);//original
// $teal : rgb(6, 191, 175);//original
// $teal : #009acf;
$gray : rgb(70, 70, 70);