@import "common.scss";

#unsupported {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000000;
	background-color: $backgroundColor;

	#text {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 300px;
		font-size: 18px;
		color: white;
		text-align: center;
		transform: translate(-50%, -50%);

		a {
			color: white;
		}
	}
}