@import "common.scss";

#waveform {
	width: 100%;
	height: $waveformHeight;
	position: absolute;
	/* border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: $gray; */
	position: absolute;
	bottom: $keyboardHeight;

	canvas {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}